@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/fonts/opendyslexic-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenDyslexic';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(/fonts/opendyslexic-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenDyslexic Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/fonts/opendyslexic-mono-regular.otf) format('otf');
}

body {
  font-family: 'OpenDyslexic', sans-serif;
}

code {
  font-family: 'OpenDyslexic Mono', monospace;
}
